<div class="mt-14 px-4 py-3 flex flex-col items-center">
      <h1 class="text-4xl sm:text-5xl font-mono font-bold">Quests</h1>
      <form id="filter" class="transition-all max-h-0 duration-200 overflow-hidden flex flex-col items-stretch">
            <div class="mt-2 flex flex-col">
                  <label for="keyword">Keyword</label>
                  <input type="text" name="keyword" id="keyword" class="border px-2">
            </div>
            <div class="mt-2 flex flex-col">
                  <label for="author">Author</label>
                  <input type="text" name="author" id="author" class="border px-2">
            </div>
            <button type="submit" class="btn mt-2">Filter</button>
      </form>
      <button id="toggleFilter" class="btn mt-2">Filter</button>
      <a href="/quest/create" class="btn mt-2">Create One</a>
      <div class="flex flex-wrap justify-center justify-items-stretch mt-2 gap-2">
            {{#each quests}}
            {{#with this}}
            <a href="/quest/{{slug}}" class="plain flex flex-col items-center gap-y-2 grow bg-slate-300 rounded-md p-3">
                  <h1 class="text-2xl font-medium">{{name}}</h1>
                  <h2 class="text-lg">Point: {{point}}</h2>
                  <h2 class="text-xl">Author: {{createdBy.username}}</h2>
                  <div>
                        <div class="flex justify-between gap-x-2">
                              <p>from</p>
                              <h3>{{{dateFormat createdAt "DD MMMM YYYY"}}}</h3>
                        </div>
                        <div class="flex justify-between gap-x-2">
                              <p>to</p>
                              {{#isset dateline}}
                              <h3>{{{dateFormat this "DD MMMM YYYY"}}}</h3>
                              {{else}}
                              <h3>no Dateline</h3>
                              {{/isset}}
                        </div>
                  </div>
            </a>
            {{/with}}
            {{else}}
            <h2>Empty</h2>
            {{/each}}
      </div>
</div>