<div class="mt-14 px-4 py-3 flex mx-4 flex-col items-start gap-y-2">
      {{#with quest}}
      <h1 class="text-4xl sm:text-5xl font-mono font-bold">{{name}}</h1>
      {{/with}}
      <div class="flex w-full gap-x-2">
            {{#ifNEq this isAuth.user quest.createdBy.username}}
            <a href="/quest/submit/{{quest.slug}}" class="btn w-1/6">Create submition</a>
            {{/ifNEq}}
            {{#ifEq this isAuth.user quest.createdBy.username}}
            <a href="/quest/update/{{quest.slug}}" class="btn w-1/6">Update</a>
            <a href="/quest/delete/{{quest.slug}}" class="btn w-1/6">Delete</a>
            {{/ifEq}}
      </div>
      {{#with quest}}
      <h2>Point : {{point}}</h2>
      <h2>Created by : {{createdBy.username}}</h2>
      <h2>Description :</h2>
      <div class="border w-4/5 p-2">
            {{tomd description}}
      </div>
      {{!-- {{/with}} --}}
      {{!-- {{#with submition}} --}}
      <h2>Submition :</h2>
      <div class="w-4/5 border p-2 flex flex-wrap gap-2">
            {{#each Submition}}
            <a href="/quest/:slug/:author" class="plain grow border p-2">
                  <h3>By : {{createdBy.username}}</h3>
                  <h3>Point : {{#if Judge}}{{Judge.point}}{{else}}-{{/if}}</h3>
            </a>
            {{/each}}
      </div>
      {{/with}}
</div>